# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# Data outputs
data/raw/*.csv
data/raw/*.parquet
data/processed/*.csv
data/processed/*.parquet
data/sample/*.csv
data/sample/*.parquet

# MLflow
mlruns/
mlartifacts/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
